.blocks-list-wrapper .blocks-count {
    padding-bottom: 25px;
    font-size: .9em;
    font-family: Yantramanav-Light;
}

.blocks-list-container {
    padding-top: 10px;
}

.list-scroll-container {
    max-height: 700px;
    overflow: auto;
}

.blocks-table-container .table-header {
    box-shadow: 0px 4px 8px -3px #cecece;
    border-bottom: 3px solid var(--four-color);
    padding: 5px 25px 10px 25px;
}

.block-element-container {
    border-bottom: 3px solid var(--four-color);
    padding: 15px 25px 15px 25px;
}

.blocks-tables-list-container {
    padding-top: 30px;
}

.single-block-properties-table {
    align-items: stretch;
    padding: 5px 12px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.block-property.responsive-width {
    width: 100%;
    text-align: left;
}

.block-property.desktop-width {
    max-width: calc(95% / 9);
    width: calc(95% / 9);
    text-align: center;
}

.blocks-table-container .table-header .header-label {
    text-align: center;
    width: calc(100% / 9);
}

.property-label-column {
    width: 150px;
}

.property-value-column {
    width: calc(100% - 160px);
}

.property-label-column,
.property-value-column {
    flex-direction: column;
}