.not-found-page-container {
    padding: 100px 0
}

.not-found-page-container .main-message {
    text-align: center;
    font-family: Yantramanav-Bold;
    font-size: 3em;
}

.not-found-page-container .secundary-message {
    text-align: center;
    font-family: Yantramanav-Light;
    font-size: 2em;
}

.not-found-page-container .error404-image {
    width: 90%;
    max-width: 250px;
}

.not-found-page-container .link {
    text-align: center;
    font-family: Yantramanav-Light;
    font-size: 1.3em;
}

@media(max-width:600px) {
    .not-found-page-container {
        padding: 50px 0 0 0;
    }
}