.transactions-list-wrapper .transactions-count {
    padding-bottom: 25px;
    font-size: .9em;
    font-family: Yantramanav-Light;
}

.transactions-list-container {
    padding-top: 10px;
}

.list-scroll-container {
    max-height: 700px;
    overflow: auto;
}

.transactions-table-container .table-header {
    box-shadow: 0px 4px 8px -3px #cecece;
    border-bottom: 3px solid var(--four-color);
    padding: 5px 25px 10px 25px;
}

.transaction-element-container {
    border-bottom: 3px solid var(--four-color);
    padding: 15px 25px 15px 25px;
}

.transactions-tables-list-container {
    padding-top: 15px;
}

.single-transaction-properties-table {
    align-items: stretch;
    padding: 5px 12px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.transactions-list-wrapper .transaction-property.responsive-width {
    width: 100%;
    text-align: left;
}

.transactions-list-wrapper .transaction-property.desktop-width {
    width: calc(95% / 7);
    max-width: calc(95% / 7);
}

.transactions-list-wrapper .transaction-property {
    text-align: center;
}

.transactions-list-wrapper .transaction-property {
    text-align: center;
}

.transactions-list-wrapper .transactions-table-container .table-header .header-label {
    text-align: center;
    width: calc(100% / 7);
}

.transactions-list-wrapper .property-label-column {
    width: 120px;
}

.transactions-tables-list-container .property-value-column {
    width: calc(100% - 130px);
}

.transactions-tables-list-container .property-label-column,
.transactions-tables-list-container .property-value-column {
    flex-direction: column;
}