.transactions-list-wrapper .transactions-count {
    padding-bottom: 25px;
    font-size: .9em;
    font-family: Yantramanav-Light;
}

.transactions-list-container {
    padding-top: 10px;
}

.list-scroll-container {
    max-height: 700px;
    overflow: auto;
}

.transactions-table-container .table-header {
    box-shadow: 0px 4px 8px -3px #cecece;
    border-bottom: 3px solid var(--four-color);
    padding: 5px 25px 10px 25px;
}

.transaction-element-container {
    border-bottom: 3px solid var(--four-color);
    padding: 15px 25px 15px 25px;
}

.transaction-property {
    width: calc(95% / 7);
    max-width: calc(95% / 7);
    text-align: center;
}

.transactions-table-container .table-header .header-label {
    text-align: center;
    width: calc(100% / 7);
}